@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif;
}
.gradient-02 {
  position: absolute;
  width: 550px;
  height: 550px;

  background: #e05f19 100%;
  filter: blur(210px);
}

.gradient-03 {
  position: absolute;
  width: 550px;
  height: 550px;

  background: #d9c1e6 100%;
  filter: blur(210px);
}